meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="author" content="Yousef Alaa")
meta(name="keywords" content="Portfolio, Personal Portfolio, Yousef, Yousef Alaa, Yousef Portfolio, Yousef Alaa Portfolio")
meta(name="description" content=pageDesc)
meta(name="application-name" content="Yousef Portfolio")
// Social Media Meta Tag (Start)
meta(name="og:title" content="Yousef Alaa Portfolio")
meta(name="og:image" content="images/logo2.png")
meta(name="og:description" content="This Is My Portfolio For My Works")
meta(name="og:type" content="Personal Portfolio")
meta(name="og:url" content="yousefalaa.tk")
meta(property="og:site_name" content="Yousef Portfolio")
meta(property="og:site" content="yousefalaa.tk")
meta(property='article:author' content='https://www.facebook.com/Yousseef.Alaa/')
meta(name="twitter:title" content="Yousef Alaa Portfolio")
meta(name="twitter:image" content="images/logo2.png")
meta(name='twitter:description' content="This Is My Portfolio For My Works")
// Social Media Meta Tag (End)
title= pageTitle
link(rel="icon" href="images/logo.png")
link(rel="shortcut" href="images/logo.png")
link(rel="apple-touch-icon" href="images/logo.png")
//- link(rel="stylesheet" href="css/alertify.min.css")
//- link(rel="stylesheet" href="css/default.min.css")
// Font Awesome Library
link(rel="stylesheet" href="css/all.min.css")
// Stylesheet
link(rel="stylesheet" href="css/style.css")
